html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,
address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,
center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,
summary,time,mark,audio,video{
margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;
}
body1{
background:#26aee4;
background:-moz-linear-gradient(top,#26aee4 0%,#4dbce9 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#26aee4),color-stop(100%,#4dbce9));
background:-webkit-linear-gradient(top,#26aee4 0%,#4dbce9 100%);
background:-o-linear-gradient(top,#26aee4 0%,#4dbce9 100%);
background:-ms-linear-gradient(top,#26aee4 0%,#4dbce9 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#26aee4',endColorstr='#4dbce9',GradientType=0);
background:linear-gradient(top,#26aee4 0%,#4dbce9 100%);
font:14px "Arial","Geneva","Tahoma",sans-serif;color:#666;
}


h1{
    font:36px "Varela Round",sans-serif;
    margin-bottom:5px;
    color:#FFF;
    /* text-shadow:2px 2px 2px #d9d9d9; */
    filter:dropshadow(color=#d9d9d9,offx=2,offy=2);
}
p{
	padding-bottom:10px;
}

/**************** FORM BLOCK ****************/
.form-block{
    /* display: block;*/
    font-size: 20px; 
}

.label-block{
    display: block;
    color: #FFFFFF;
}

.input-block{
    padding: 2px 2px 2px 2px; 
    font-size: 20px;
}
.select-block{
    padding: 3px 3px 3px 3px; 
    font-size: 20px;
}

.textarea-block{
    padding: 2px 2px 2px 2px; 
    font-size: 20px;
}
#content_form{
	width:780px;
	margin:10px auto;
	background-color:#000000;
	/* background:#240000; */
	padding:30px;
	border:1px solid #8B2500;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-box-shadow:1px 1px 3px 3px #8B2500;
	-moz-box-shadow:1px 1px 3px 3px #8B2500;
	box-shadow:1px 1px 3px 3px #8B2500;
}


input[type="text"],
input[type="password"],
select{
	border:1px solid #ccc;
	padding:5px;
	background-color:#fcfcfc;
}

textarea{
	border:1px solid #ccc;
	padding:5px;
	background-color:#fcfcfc;
}

.textarea_grande{
	width:330px; 
	max-width: 330px;
	min-width: 330px;
	height: 120px; 
	min-height: 40px;
	max-height: 120px;
    padding: 10px;
}
.textarea_grande_1{
	width:575px; 
	max-width: 575px;
	min-width: 330px;
	height: 140px; 
	min-height: 40px;
	max-height: 120px;
        padding: 10px;
}
.select_grande{width:350px;}
.grande{width:340px;}
.grande_2{width:400px;}
.grande_3 { width: 75% }
.medio_2{width:240px;}
.medio{width:200px;}
.pequeno{width:130px;}
input[type="reset"]{
	border:0;-moz-border-radius:10px;
	border-radius:10px;
	-webkit-border-radius:10px;
	background:#e22626;
	background:-moz-linear-gradient(top,#e22626 0%,#ad1d1d 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e22626),color-stop(100%,#ad1d1d));
	background:-webkit-linear-gradient(top,#e22626 0%,#ad1d1d 100%);
	background:-o-linear-gradient(top,#e22626 0%,#ad1d1d 100%);
	background:-ms-linear-gradient(top,#e22626 0%,#ad1d1d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e22626',endColorstr='#ad1d1d',GradientType=0);
	background:linear-gradient(top,#e22626 0%,#ad1d1d 100%);
	text-align:center;
	text-transform:uppercase;
	text-shadow:0 1px 0px #E05C5C;
	color:#701313;
	font:bold 14px "Varela Round",sans-serif;
	padding:5px;-webkit-box-shadow:0px 1px 2px 0px #ccc;
	-moz-box-shadow:0px 1px 2px 0px #ccc;
	box-shadow:0px 1px 2px 0px #ccc;
	}
	input[type="submit"]{
		border:0;
		-moz-border-radius:10px;
		border-radius:10px;
		-webkit-border-radius:10px;
		background:#d1e751;
		background:-moz-linear-gradient(top,#d1e751 0%,#96c446 100%);
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d1e751),color-stop(100%,#96c446));
		background:-webkit-linear-gradient(top,#d1e751 0%,#96c446 100%);
		background:-o-linear-gradient(top,#d1e751 0%,#96c446 100%);
		background:-ms-linear-gradient(top,#d1e751 0%,#96c446 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1e751',endColorstr='#96c446',GradientType=0);
		background:linear-gradient(top,#d1e751 0%,#96c446 100%);
		text-align:center;
		text-transform:uppercase;
		text-shadow:0 1px 0px #DAE592;
		color:#5E7F2D;font:bold 14px "Varela Round",sans-serif;
		padding:5px;
		-webkit-box-shadow:0px 1px 2px 0px #ccc;
		-moz-box-shadow:0px 1px 2px 0px #ccc;
		box-shadow:0px 1px 2px 0px #ccc;
		margin-left:20px;
	}
	.error{color:red!important;}
	.valid{color:green!important;}

	#copy{color:#FFFFFF;
		font:11px bolder Arial,Geneva,Tahoma,sans-serif;
		margin:0 auto;padding:10px;
		text-align:center;
		/* text-shadow:0 1px 0 #4DBCE9; */
		width:400px;
                font-size: 15px;
	}
	
	
	#copy a{
		color:#FFFFFF;
		font-weight:bold;
                font-size: 15px;
		text-decoration:none;
	}
	.result{
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
		background:#feffcc;
		background:-moz-linear-gradient(top,#feffcc 0%,#f9f998 100%);
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#feffcc),color-stop(100%,#f9f998));
		background:-webkit-linear-gradient(top,#feffcc 0%,#f9f998 100%);
		background:-o-linear-gradient(top,#feffcc 0%,#f9f998 100%);
		background:-ms-linear-gradient(top,#feffcc 0%,#f9f998 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffcc',endColorstr='#f9f998',GradientType=0);
		background:linear-gradient(top,#feffcc 0%,#f9f998 100%);
		color:black;
		padding:10px;
		display:none;
		border:1px dashed yellow;
	}
	
	
	
/********************************
ABC color 2012
@Variables
@Author: Axel alexander
@created: 29/11/2011
*******************************
form {
  color: #999999; 
}
  form .radio {
    background: transparent url("css/form/radio-button.png") no-repeat 0 0;
    border: none;
    margin-right: 10px;
    float: left;
    cursor: pointer;
    height: 20px;
    padding: 0 0 0 6px;
    position: relative;
    width: 15px;
    z-index: 10; }
  form input[type=radio] { display: none; }
  
  form input[type=text], form input[type=password], form textarea {
    border: 1px solid #dbdbdc;
    font-family: "PTSansRegular", "arial narrow", "arial", "sans-serif";
    outline: 0; }
    form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
      outline: 0; }
  form input[type=text], form input[type=password] {
    height: 30px; }
  form textarea {
    min-height: 40px;
    padding: 10px; }
  form .button {
    padding: 2px 20px;
    -moz-padding-start: 10px;
    -moz-padding-end: 10px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.7);
    font-family: "PTSansBold", "arial narrow", "arial", "sans-serif";
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 0.5px; }
    form .button.green_2 {
      width: 85px;
      height: 35px;
      background: url("http://www.abc.com.py/plantillas/img/green-btn.png") no-repeat;
      color: white;
      text-transform: uppercase; }
    form .button.green {
      color: white;
      text-transform: uppercase;
      background-color: #85c2a3;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      border: 1px solid #77ad91;
      -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3); }
    form .button.gray {
      color: white;
      text-transform: uppercase;
      background-color: #9f9f9f;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      border: 1px solid #9d9d9d;
      -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3); }
    form .button.yellow {
      color: white;
      text-transform: uppercase;
      background-color: #fff9c3;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      border: 1px solid #fff9c3;
      -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3); }
    form .button.black {
      color: white;
      text-transform: uppercase;
      background-color: #1b1b1b;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      border: 1px solid black;
      -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3); }
    form .button.blue {
      color: white;
      text-transform: uppercase;
      background-color: #37589a;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      border: 1px solid #2a4374;
      -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3); }
	
*/	
	
	
	
	